.container{
    height: 50vh;
    width: fit-content;
    background-color: #FCFFE7;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    margin: 5px;

}
.gridColumn{
    border: 0.5px solid;
    border-radius: 10px;
    width: fit-content;
}
.descriptions{
    font: 1.2em "Fira Sans", sans-serif;
    color: black;
}
.price{
    display: flex;
    justify-content: space-between;
}
.cart{
    display: flex;
    margin-left: 5px;
}